# Node modules
frontend/node_modules/

# Build output
frontend/build/

# Python
backend/__pycache__/
backend/devices.db
backend/app.log
backend/data/
backend/api_keys.json
backend/password.hash

# Docker
*.pyc
*.log

# GitHub
.github/

# Docker local env
docker/.env
.env

# Misc
